In [2]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [3]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]

full_text    Flying home to run down from the power to comi...
favorites                                                 23.0
retweets                                                   NaN
mentions                                                  10.0
country                                                ECUADOR
user                                             leonardokuffo
followers                                                389.0
followees                                                  258
Name: 183721, dtype: object

In [5]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

                                                full_text  favorites
id
183721  Flying home to run down from the power to comi...       23.0
183722                Today we commemorate and MNML Case.      500.0

In [7]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
183735,Buy this product NOW!!,418.0,24.0,2.0,MEXICO,gabrielcarvajal,21.0,2721
183743,Amazing video by Leonardo!,432.0,95.0,18.0,BRASIL,lucasperes,82.0,351
183744,Thanks man!,430.0,143.0,28.0,BRASIL,lucasperes,NaN,351
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721

In [14]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183744,Thanks man!,430.0,143.0,28.0,BRASIL,lucasperes,NaN,351
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721

In [15]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183732,Its been in love with the game with the origin...,349.0,44.0,19.0,BRASIL,mateusmartins,982.0,1822
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183747,I do not know if i like programming or other t...,318.0,58.0,20.0,BRASIL,isabelladasilva,928.0,9918

In [17]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

import random
def calculateWins(retweets):
    win = retweets * random.randint(3, 5)
    return win


df["ganancias"] = df["retweets"].apply(calculateWins)


df.fillna(0).head()

,full_text,favorites,retweets,mentions,country,user,followers,followees,ganancias
id,,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258,0.0
183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822,105.0
183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,492.0
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378,380.0
183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129,390.0

In [18]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

import random
def calculateWins(retweets):
    win = retweets * random.randint(3, 5)
    return win


df["ganancias"] = df["retweets"].apply(calculateWins)


df.fillna(0).head()


def population(row):
    return row["followees"] / row["followers"]

df["popularidad"] = df.apply(population, axis=1)

df.fillna(0).head()

,full_text,favorites,retweets,mentions,country,user,followers,followees,ganancias,popularidad
id,,,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258,0.0,0.663239
183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822,63.0,1.855397
183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,492.0,10.750000
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378,228.0,1.138554
183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129,650.0,10.750000

In [25]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

import random


def calculateWins(retweets):
    win = retweets * random.randint(3, 5)
    return win


df["ganancias"] = df["retweets"].apply(calculateWins)
df.fillna(0).head()


def population(row):
    return row["followees"] / row["followers"]


df["popularidad"] = df.apply(population, axis=1)
df.fillna(0).head()

df = df.drop(columns=["full_text"])
df.fillna(0).head()

,favorites,retweets,mentions,country,user,followers,followees,ganancias,popularidad
id,,,,,,,,,
183721,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258,0.0,0.663239
183722,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822,63.0,1.855397
183723,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129,615.0,10.750000
183724,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378,228.0,1.138554
183725,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129,650.0,10.750000

In [29]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

import random


def calculateWins(retweets):
    win = retweets * random.randint(3, 5)
    return win


df["ganancias"] = df["retweets"].apply(calculateWins)
df.fillna(0).head()


def population(row):
    return row["followees"] / row["followers"]


df["popularidad"] = df.apply(population, axis=1)
df.fillna(0).head()

df = df.drop(columns=["full_text"])
df.fillna(0).head()

df = df.drop(columns=["user"])
df.fillna(0)

df.groupby("country").mean()

,favorites,retweets,mentions,followers,followees,ganancias,popularidad
country,,,,,,,
BRASIL,339.909091,91.272727,19.600,616.600,1889.363636,378.272727,3.708644
ECUADOR,186.375000,64.857143,11.875,360.500,318.000000,288.142857,0.900897
MEXICO,294.857143,77.750000,13.750,15.375,1101.000000,327.250000,55.308036

In [30]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

import random


def calculateWins(retweets):
    win = retweets * random.randint(3, 5)
    return win


df["ganancias"] = df["retweets"].apply(calculateWins)
df.fillna(0).head()


def population(row):
    return row["followees"] / row["followers"]


df["popularidad"] = df.apply(population, axis=1)
df.fillna(0).head()

df = df.drop(columns=["full_text"])
df.fillna(0).head()

df = df.drop(columns=["user"])
df.fillna(0)

df.groupby("country").mean()

df.groupby("country").agg({
    "followers": "sum", 
    "followees": "sum",
    "retweets": "mean", 
    "favorites": "mean"
    })

         followers  followees   retweets   favorites
country
BRASIL      6166.0      20783  91.272727  339.909091
ECUADOR     2884.0       2544  64.857143  186.375000
MEXICO       123.0       8808  77.750000  294.857143

In [32]:
import pandas as pd


df = pd.read_csv("../../NIVEL0/dataset.csv", index_col="id")

df_filter = df.fillna(0)
df_filter.head()


df.iloc[0]
df.loc[[183721, 183722], ["full_text", "favorites"]]

df[df['favorites'] > 400]

df[(df['favorites'] > 400) & (df['mentions'] > 20)]

df[df['full_text'].str.contains("programming")]

import random


def calculateWins(retweets):
    win = retweets * random.randint(3, 5)
    return win


df["ganancias"] = df["retweets"].apply(calculateWins)
df.fillna(0).head()


def population(row):
    return row["followees"] / row["followers"]


df["popularidad"] = df.apply(population, axis=1)
df.fillna(0).head()

df = df.drop(columns=["full_text"])
df.fillna(0).head()

df = df.drop(columns=["user"])
df.fillna(0)

df.groupby("country").mean()

result = df.groupby("country").agg({
    "followers": "sum",
    "followees": "sum",
    "retweets": "max",
    "favorites": "mean"
})
result.to_csv("../../NIVEL0/result.csv", index=False)